<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLEAN - Add Image</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/custom.css">

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="../../static/adminResource/css/materialdesignicons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../static/adminResource/css/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../static/adminResource/css/sweetalert.css">

    <!-- Color Picker -->
    <link rel="stylesheet" href="../../static/adminResource/css/color-switcher.min.css">

    <script type="text/javascript">
        function loadWard() {

            var register_ZoneId = document.getElementById("register_ZoneId");

            var ward = document.getElementById("ward");

            ward.innerHTML = "";

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {


                    var json = JSON.parse(ajax.responseText);

                    var option1 = document.createElement("option");

                    option1.value = "Select Ward";
                    option1.text = "Select Ward";

                    ward.options.add(option1);

                    for (var i = 0; i < json.length; i++) {

                        var option = document.createElement("option");

                        option.value = json[i]['wardId'];
                        option.text = json[i]['wardName'];


                        ward.options.add(option)
                    }
                }
            };
            ajax.open("get", "/admin/ajaxLoadWard?register_ZoneId=" + register_ZoneId.value, true);

            ajax.send()
        }
    </script>
</head>

<body>

{% include 'user/menu.html' %}


{% include 'user/header.html' %}


<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-12">
                <div class="box-content">
                    <h4 class="box-title">Upload Garbage Images</h4>
                    <hr>
                    <form data-toggle="validator" enctype="multipart/form-data" method="post"
                          action="/user/insertImage">

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Zone Name: </label>
                        <select name="image_ZoneId" class="form-control" onchange="loadWard()" id="register_ZoneId">
                            <option>Select Zone</option>
                            {% for i in zoneVOList %}
                                <option value="{{ i['zoneId'] }}">{{ i['zoneName'] }}</option>
                            {% endfor %}
                        </select>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Ward Name: </label>
                            <select name="image_WardId" class="form-control" id="ward">
                                <option>Select Ward</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Upload Image: </label>
                            <input type="file" name="file" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary waves-effect waves-light" value="Submit">
                        </div>
                    </form>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row small-spacing -->
        {% include 'user/footer.html' %}
    </div>
    <!-- /.main-content -->
</div><!--/#wrapper -->

<script src="../../static/adminResource/js/html5shiv.min.js"></script>
<script src="../../static/adminResource/js/respond.min.js"></script>

<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/sweetalert.min.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>
<!-- Full Screen Plugin -->
<script src="../../static/adminResource/js/jquery.fullscreen-min.js"></script>

<!-- Validator -->
<script src="../../static/adminResource/js/validator.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
<script src="../../static/adminResource/js/color-switcher.min.js"></script>
</body>
</html>