<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLEAN</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/custom.css">
    <link rel="stylesheet" href="../../static/adminResource/css/materialdesignicons.css">
    <link rel="stylesheet" href="../../static/adminResource/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/sweetalert.css">
    <link rel="stylesheet" href="../../static/adminResource/css/percircle.css">
    <link rel="stylesheet" href="../../static/adminResource/css/chartist.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/fullcalendar.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/fullcalendar.print.css" media='print'>
    <link rel="stylesheet" href="../../static/adminResource/css/color-switcher.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/about.css">
</head>

<body>

{% include 'user/menu.html' %}

<!-- /.main-menu -->


{% include 'user/header.html' %}

<!-- /.fixed-navbar -->

<div id="wrapper">
    <div class="main-content">

    <div class="w3-row w3-padding-60" id="about">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="../../static/adminResource/image/aboutUs.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750" style="position: relative; top: 95px; left: 8px;">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center"><span style="text-decoration: underline">About CLEAN</span></h1><br>
                    <div class="about" style="font-size: 15px;">
                        <p>There are many piles of garbage gathered around the city. This collected garbage is among the reasons to cause pollution, which may lead to sanitary issues and spreading of diseases. </p>
                        <p>The main aim of CLEAN is to detect garbage gathered/littered on the road with the help of photos taken by any by-passers. The use will then upload the clicked photo on out Web Portal which detects garbage from the photo and an email alert will be sent to Municipality Officials about the location of the garbage and appropriate action will be taken by them. </p>
                        <p style="color: gray"><q>Cleanliness and order are not matters of instinct; they are matters of education, and like most great things, you must cultivate a taste for them.     </q></p>
                        <p style="color: gray">- Benjamin Disraeli</p>
                    </div>
                </div>
            </div>

    </div>
    <!-- /.main-content -->
</div><!--/#wrapper -->

<script src="../../static/adminResource/js/html5shiv.min.js"></script>
<script src="../../static/adminResource/js/respond.min.js"></script>

<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/sweetalert.min.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>

<script src="../../static/adminResource/js/jquery.fullscreen-min.js"></script>

<!-- Google Chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- chart.js Chart -->
<script src="../../static/adminResource/js/Chart.bundle.min.js"></script>
<script src="../../static/adminResource/js/chart.chartjs.init.min.js"></script>

<!-- FullCalendar -->
<script src="../../static/adminResource/js/moment.js"></script>
<script src="../../static/adminResource/js/fullcalendar.min.js"></script>
<script src="../../static/adminResource/js/fullcalendar.init.js"></script>

<!-- Sparkline Chart -->
<script src="../../static/adminResource/js/jquery.sparkline.min.js"></script>
<script src="../../static/adminResource/js/chart.sparkline.init.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
<script src="../../static/adminResource/js/color-switcher.min.js"></script>
</body>
</html>