<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">
    <form action="/user/validateLogin" class="frm-single" method="post">
        <div class="inside">
            <!-- /.title -->
            <img src="../../static/adminResource/image/CLEAN%20LOGO.jpg">
            <div class="frm-title">Login</div>
            <!-- /.frm-title -->
            <div class="frm-input"><input type="email" name="loginUsername" placeholder="Username" class="frm-inp"><i
                    class="fa fa-user frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input"><input type="password" name="loginPassword" placeholder="Password" class="frm-inp"><i
                    class="fa fa-lock frm-ico"></i></div>

                <div class="float-right"><a href="page-recoverpw.html" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot
                    password?</a></div>
                <!-- /.float-right -->
            </div>
            <!-- /.clearfix -->
            <button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>

            -->
            <a href="/user/loadRegister" class="a-link"><i class="fa fa-key"></i>New to CLEAN? Register.</a>
            <div class="frm-footer">CLEAN © 2020.</div>
            <!-- /.footer -->
        </div>
        <!-- .inside -->
    </form>
    <!-- /.frm-single -->
</div><!--/#single-wrapper -->

<script src="../../static/adminResource/js/html5shiv.min.js"></script>
<script src="../../static/adminResource/js/respond.min.js"></script>

<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
</body>
</html>