<div class="main-menu">
    <header class="header">
        <a href="/user/loadDashboard" class="logo">CLEAN</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <!-- /.header -->
    <div class="content">

        <div class="navigation">
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" href="/user/loadDashboard"><i
                            class="menu-icon mdi mdi-home"></i><span>Home</span></a>
                </li>

                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon mdi mdi-image-multiple"></i><span>Garbage Images</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/user/loadImage">Upload Image</a></li>
                        <li><a href="/user/searchImage">View Image</a></li>
                    </ul>
                </li>

                <li>
                    <a class="waves-effect" href="/user/loadComplain">
                        <i class="menu-icon mdi mdi-headset"></i>
                        <span>Complain</span>
                    </a>
                </li>

                <li>
                    <a class="waves-effect" href="/user/loadFeedback">
                        <i class="menu-icon mdi mdi-thumb-up"></i>
                        <span>Feedback</span>
                    </a>
                </li>

                <li>
                    <a class="waves-effect" href="/admin/logoutSession">
                        <i class="menu-icon mdi mdi-logout"></i>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>

            <!-- /.menu js__accordion -->
        </div>
        <!-- /.navigation -->
    </div>
    <!-- /.content -->
</div>