<div class="fixed-navbar">
    <div class="float-left">
        <button type="button" class="menu-mobile-button fas fa-bars js__menu_mobile"></button>
        <h1 class="page-title">Home</h1>
        <!-- /.page-title -->
    </div>
    <!-- /.float-left -->
   <div class="float-right">
            <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search"
                                                                                         placeholder="Search..."
                                                                                         class="input-search">
                <button class="fa fa-search button-search" type="submit"></button>
            </form>

        <div class="ico-item">
            <img src="../../static/adminResource/image/admin.png" alt="" class="ico-img">
            <ul class="sub-ico-item">
                <!--<li><a href="#">Nisarg Soni</a></li>-->
                <li><a href="#">{{session['session_loginUsername']}}</a></li>
                <li><a href="/admin/logoutSession">Log Out</a></li>
            </ul>
            <!-- /.sub-ico-item -->
        </div>
        <!-- /.ico-item -->
    </div>
    <!-- /.float-right -->
</div>
