<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLEAN</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/custom.css">

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="../../static/adminResource/css/materialdesignicons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../static/adminResource/css/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../static/adminResource/css/sweetalert.css">

    <!-- Percent Circle -->
    <link rel="stylesheet" href="../../static/adminResource/css/percircle.css">

    <!-- Chartist Chart -->
    <link rel="stylesheet" href="../../static/adminResource/css/chartist.min.css">

    <!-- FullCalendar -->
    <link rel="stylesheet" href="../../static/adminResource/css/fullcalendar.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/fullcalendar.print.css" media='print'>

    <!-- Color Picker -->
    <link rel="stylesheet" href="../../static/adminResource/css/color-switcher.min.css">

    <script src="../../static/adminResource/js/highcharts.js"></script>
    <script src="../../static/adminResource/js/exporting.js"></script>


    <script type="text/javascript">

        function loadDate() {

            var image_LoginId = document.getElementById("image_LoginId");

            var date = document.getElementById("date");

            date.innerHTML = "";

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {


                    var json = JSON.parse(ajax.responseText);

                    var option1 = document.createElement("option");

                    option1.value = "Select Date";
                    option1.text = "Select Date";

                    date.options.add(option1);

                    for (var i = 0; i < json.length; i++) {

                        var option = document.createElement("option");

                        option.value = json[i];
                        option.text = json[i];

                        date.options.add(option)
                    }
                }
            };
            ajax.open("get", "/admin/ajaxDateImage?image_LoginId=" + image_LoginId.value, true);

            ajax.send()
        }

        function loadGraph() {

            var image_LoginId = document.getElementById("image_LoginId");

            var date = document.getElementById("date");

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);

                    if (jsn['responseKey'] != 'Error') {
                        var xdata = [];
                        var ydata = [];

                        for (var key in jsn['responseKey']) {

                            var key_value = jsn['responseKey'][key];

                            xdata.push(key);
                            ydata.push(key_value);
                        }
                        Highcharts.chart({
                            chart: {
                                renderTo: "container",

                                type: 'column'
                            },
                            title: {
                                text: 'Garbage Analysis'
                            },
                            subtitle: {
                                text: 'Source: CLEAN'
                            },
                            xAxis: {
                                categories: xdata,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'No. of Images Uploaded'
                                }
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: [{
                                name: 'Garbage Detection',
                                data: ydata

                            }]
                        });
                    }
                }
            };
            ajax.open("get", "/admin/ajaxGetGraphData?image_LoginId=" + image_LoginId.value +
                "&date=" + date.value, true);

            ajax.send()
        }
    </script>


</head>

<body>

{% include 'admin/menu.html' %}

{% include 'admin/header.html' %}

<div id="wrapper">
    <div class="main-content">

        <div class="row small-spacing">
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="box-content bg-info text-white">
                    <div class="statistics-box with-icon">
                        <i class="ico small fas fa-users"></i>
                        <p class="text text-white">USERS</p>
                        <h2 class="counter">{{ totalUser }}</h2>
                    </div>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-xl-3 col-lg-6 col-12 -->
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="box-content bg-success text-white">
                    <div class="statistics-box with-icon">
                        <i class="ico small fas fa-thumbs-up"></i>
                        <p class="text text-white">FEEDBACKS</p>
                        <h2 class="counter">{{ totalFeedback }}</h2>
                    </div>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-xl-3 col-lg-6 col-12 -->
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="box-content bg-danger text-white">
                    <div class="statistics-box with-icon">
                        <i class="ico small fas fa-comments"></i>
                        <p class="text text-white">Complains</p>
                        <h2 class="counter">{{ totalComplain }}</h2>
                    </div>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-xl-3 col-lg-6 col-12 -->
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="box-content bg-warning text-white">
                    <div class="statistics-box with-icon">
                        <i class="ico small fa fa-upload"></i>
                        <p class="text text-white">IMAGES</p>
                        <h2 class="counter">{{ totalImage }}</h2>
                    </div>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-xl-3 col-lg-6 col-12 -->
        </div>

        <div class="form-group">
            <label class="form-label">Select User</label>
            <select class="form-control" name="image_LoginId" id="image_LoginId" onchange="loadDate()">
                <option>Select User</option>
                {% for i in userList %}
                    <option value="{{ i[0] }}">{{ i[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Select Date</label>
            <select class="form-control" name="date" id="date" onchange="loadGraph()">
                <option>Select Date</option>
            </select>
        </div>
        <br>

        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <input type="hidden" name="xvalue" value=""/>
        <input type="hidden" name="yvalue" value=""/>

    </div>
    <!-- /.main-content -->
</div>
<script src="../../static/adminResource/js/html5shiv.min.js"></script>
<script src="../../static/adminResource/js/respond.min.js"></script>

<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/sweetalert.min.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>
<!-- Full Screen Plugin -->
<script src="../../static/adminResource/js/jquery.fullscreen-min.js"></script>

<!-- Google Chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- chart.js Chart -->
<script src="../../static/adminResource/js/Chart.bundle.min.js"></script>
<script src="../../static/adminResource/js/chart.chartjs.init.min.js"></script>

<!-- FullCalendar -->
<script src="../../static/adminResource/js/moment.js"></script>
<script src="../../static/adminResource/js/fullcalendar.min.js"></script>
<script src="../../static/adminResource/js/fullcalendar.init.js"></script>

<!-- Sparkline Chart -->
<script src="../../static/adminResource/js/jquery.sparkline.min.js"></script>
<script src="../../static/adminResource/js/chart.sparkline.init.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
<script src="../../static/adminResource/js/color-switcher.min.js"></script>
</body>
</html>