<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">
    <form action="/admin/validateLogin" class="frm-single" method="post">
        <div class="inside">
            <!-- /.title -->

             <img src="../../static/adminResource/image/CLEAN%20LOGO.jpg" class="clean-logo" style="position: relative;
    left: 31px;">
        <hr>
             <div class="title"><strong>Login</strong></div>
{#             <div class="frm-title">Login</div>#}
            <!-- /.frm-title -->
            <div class="frm-input"><input type="email" name="loginUsername"  placeholder="Email" class="frm-inp" required><i
                    class="fa fa-user frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input"><input type="password" name="loginPassword" placeholder="Password" class="frm-inp" required><i
                    class="fa fa-lock frm-ico"></i></div>
            {% if msg %}
                <p style="color: red;"> {{ msg }}</p>
            {% endif %}
            <div class="clearfix margin-bottom-20">

                <div class="float-right"><a href="/admin/loadForgotPassword" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot
                    password?</a></div>
            </div>
            <button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>

            <a href="/user/loadRegister" class="a-link"><i class="fa fa-key"></i>New to CLEAN? Register.</a>
            <div class="frm-footer">CLEAN © 2020.</div>
        </div>
    </form>
</div>


<script src="../../static/adminResource/js/html5shiv.min.js"></script>
<script src="../../static/adminResource/js/respond.min.js"></script>

<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
</body>
</html>