<div class="main-menu">
    <header class="header">
        <a href="/admin/loadDashboard" class="logo">CLEAN</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <div class="content">

        <div class="navigation">
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" href="/admin/loadDashboard">
                        <i class="menu-icon mdi mdi-home"></i>
                        <span>Admin Dashboard</span></a>
                </li>

                <li>
                    <a class="waves-effect" href="/admin/searchUser"><i
                            class="menu-icon mdi mdi-account-multiple"></i><span>Manage User</span></a>
                </li>


                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon mdi mdi-map-marker-radius"></i><span>Manage Zone</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadZone">Add Zone</a></li>
                        <li><a href="/admin/searchZone">View Zone</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon mdi mdi-map-marker"></i><span>Manage Ward</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadWard">Add Ward</a></li>
                        <li><a href="/admin/searchWard">View Ward</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon mdi mdi-account-card-details"></i><span>Manage Staff Head</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadStaffHead">Add Staff</a></li>
                        <li><a href="/admin/searchStaffHead">View Staff</a></li>

                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon mdi mdi-database"></i><span>Manage Dataset</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadDataset">Add Dataset</a></li>
                        <li><a href="/admin/searchDataset">View Dataset</a></li>

                    </ul>
                </li>

                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon mdi mdi-image-multiple"></i><span>Manage Image</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/searchImage">View Image</a></li>

                    </ul>
                </li>
                <li>
                    <a class="waves-effect" href="/admin/searchComplain"><i
                            class="menu-icon mdi mdi-headset"></i><span>Manage Complain</span></a>
                </li>

                <li>
                    <a class="waves-effect" href="/admin/searchFeedback"><i class="menu-icon mdi mdi-thumb-up"></i><span>Manage Feedback</span></a>
                </li>

                <li>
                    <a class="waves-effect" href="/admin/logoutSession"><i class="menu-icon mdi mdi-logout"></i><span>Logout</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>